@use "@/app/styles/variables/base" as *;

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--secondary-color);
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0;
  scroll-margin-top: 80px;
}

ul,
ol {
  list-style-position: inside;
  margin-bottom: 1em;
}

// button {
//   font-family: inherit;
//   font-size: 1rem;
//   cursor: pointer;
//   background-color: var(--primary-color);
//   color: white;
//   border: none;
//   padding: 0.5em 1em;
//   border-radius: $radius-sm;
//   transition: background-color 0.3s ease;

//   &:hover,
//   &:focus {
//     background-color: var(--secondary-color);
//     outline: none;
//   }
// }

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid #cccccc;
  border-radius: $radius-sm;
  outline-offset: 2px;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--primary-color);
    outline: none;
  }
}
