@use "@/app/styles/variables/base" as *;

.section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-radius: $radius-sm;
}

.sectionHeader {
    cursor: pointer;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: $radius-sm;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;

    color: var(--text-color);
    text-decoration: none;

    svg {
        stroke: var(--text-color);
        transition: stroke 0.2s ease;
    }

    &:hover {
        background-color: var(--hover-bg);
    }

    &.active {
        color: var(--primary-color);

        svg {
            stroke: var(--primary-color);
            stroke-width: 2.5;
        }
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.label {
    white-space: nowrap;
}

.subItems {
    display: flex;
    flex-direction: column;
}

.subNavItem {
    font-size: 1rem;
    color: var(--text-color);
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    border-radius: $radius-sm;
    text-decoration: none;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;

    &:hover {
        background-color: var(--hover-bg);
    }

    &.active {
        font-weight: bold;
        color: var(--primary-color);
        background-color: var(--bg-color);

        svg {
            stroke: var(--primary-color);
            stroke-width: 2.5;
        }
    }
}

.active {}
