@use "@/app/styles/variables/base" as *;

.sidebar {
  position: sticky;
  top: 0;
  width: 220px;
  height: 100vh;
  padding: 1rem 0 1rem 1rem;
  background-color: var(--bg-color);
  box-sizing: border-box;
  z-index: 20;
  flex-shrink: 0;
  transition: width 0.3s ease;

  &.collapsed {
    width: 72px;
  }
}

.sidebarWrapper {
  height: 100%;
  background-color: var(--surface-color);
  color: var(--text-color);
  border-radius: $radius-md;
  box-shadow: $shadow-sm;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.toggleBtn {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;

  svg {
    transition: transform 0.3s ease;
  }

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    outline: none;
  }
}

.nav {
  padding: 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
