@use '@/app/styles/variables/base' as *;

.appbar {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 30;
  padding: 1rem 1rem 0 1rem;
}

.headerWrapper {
  height: 48px;
  background-color: var(--surface-color, #1e1e1e);
  color: var(--text-color);
  padding: 0 1rem;
  border-radius: $radius-md;
  box-shadow: $shadow-sm;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

