@use "@/app/styles/variables/base" as *;

.markdown {
  font-family: $font-family-base;
  line-height: 1.75;
  color: var(--text-color);
  word-break: break-word;
  font-size: 1rem;
  width: 100%;
}

.markdownH1 {
  text-align: center;
  font-size: 1.75rem;
  margin: 1rem 0;
  color: var(--primary-color);
  font-weight: 700;
}

.markdownH2 {
  font-size: 1.5rem;
  // text-align: center;
  margin: 1rem 0;
  color: var(--primary-color);
  font-weight: 600;
}

.markdownH3 {
  font-size: 1.5rem;
  // text-align: center;
  margin: 1rem 0;
  font-weight: 600;
  color: var(--primary-color);
}

.markdownParagraph {
  font-size: 1rem;
  margin: 1rem 0;
}

.markdownHr {
  background-color: var(--border-color);
  border: none;
  height: 1px;
  margin: 2rem 0;
}

.markdownList {
  margin: 1rem 0 1rem 1.5rem;
  padding: 0;
  line-height: 1.6;
}

.markdownListItem {
  margin-bottom: 0.5rem;
}

.markdownTableWrapper {
  font-family: $font-family-base;
  background-color: var(--surface-color);
  color: var(--text-color);
  box-shadow: $shadow-sm;
  border-radius: $radius-md;
  overflow: hidden;
  margin: 1.5rem 0;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  display: flex;
}

.markdownTable {
  border-collapse: collapse;
  overflow: auto;
  display: inline-block;

}

.markdownTable th,
.markdownTable td {
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-width: 170px;
}

.markdownTable tr:last-child th,
.markdownTable tr:last-child td {
  border-bottom: none;
}

.markdownTable th {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  font-weight: 600;
  text-align: start;
}

.markdownTable tr:nth-child(even) {
  background-color: var(--hover-bg);
}

.markdownTable tr:hover {
  background-color: var(--active-bg);
}

.markdownTableCaption {
  caption-side: top;
  font-weight: 600;
  padding: 8px;
  font-size: 1rem;
}

.markdownLink {
  color: var(--link-color);
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: var(--primary-color);
    outline: none;
  }
}

.markdownBlockquote {
  border-left: 4px solid var(--primary-color);
  padding-left: 1rem;
  margin: 1rem 0;
  color: var(--text-muted);
  font-style: italic;
}

.markdownDivider {
  border: none;
  height: 1px;
  background-color: var(--border-color);
  margin: 2rem 0;
  border-radius: $radius-sm;
  opacity: 0.6;
}
