@use '@/app/styles/variables/base' as *;

.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0; // Важно для flex-элементов с переполнением
}

.contentWrapper {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 0; // Исправляем проблему с flex-контейнерами
}

.content {
  border-radius: $radius-md;
  flex: 1;
  min-width: 0; // Разрешаем сжатие контента
  overflow-x: auto; // Горизонтальный скролл для всего контента
}