@use '@/app/styles/variables/base' as *;

.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 11rem); 
}

.content {
  border-radius: $radius-md;
  padding: 0 1rem;
  flex: 1;
  // overflow-y: auto;
  // background-color: var(--surface-color, #fff); 
  // box-shadow: $shadow-sm;
}
