.dark-theme {
  --color-background: #000000;
  --color-background-alt: #181818;
  --color-text-primary: #e0e0e0;
  --color-accent: #2CCCC3;
  --color-accent-light: #FACD3D;
  --color-secondary: #5626C4;
  --color-error: #E60576;
  --color-shadow: rgba(0, 0, 0, 0.8);
}
