:root {
  --color-background: #f5f5f5;          
  --color-background-alt: #e0e0e0;      
  --color-text-primary: #181818;       
  --color-accent: #2CCCC3;
  --color-accent-light: #FACD3D;
  --color-secondary: #5626C4;
  --color-error: #E60576;
  --color-shadow: rgba(0, 0, 0, 0.1);
}
